.ApiDataDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  width: 100%;
  padding-top: 18vh;
}

.ApiDataDiv div {
  margin: 5px;
  border: 2px solid gold;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  width: 49%;
}

.ApiDataDiv div p {
  color: green;
  font-weight: bold;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.ApiDataDiv div p span {
  font-weight: bold;
  color: brown;
  font-family: "Bree serif";
}

.ApiDataDiv div button {
  margin-right: 10px;
}
@media (max-width: 799px) {
  .ApiDataDiv div {
    width: 90%;
  }
}