body {
  cursor: default;
}
.link{
  text-decoration: none;
  font-weight: bold;
}
.Navbar {
  background: lightblue;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 25px;
  font-family: "Bree serif";
  margin: 10px;
}

ul {
  padding: 0px;
  margin: 10px 40px;
  list-style-type: none;
  width: 80%;

  display: flex;
  justify-content: center;
}
li {
  background: white;
  padding: 8px;
  border-radius: 5px;
  font-family: "Bree serif";
  margin: 0px 20px;
  cursor: pointer;
}

@media (max-width:785px){
  li{
    font-size: 12px;
  }
}