body {
  cursor: default;
}
.link {
  text-decoration: none;
  font-weight: bold;
}
.Navbar {
  background: lightblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid red;
}

h1 {
  font-size: 25px;
  font-family: "Bree serif";
  margin: 10px;
}

.linksdiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-right: 70px;
}

.logout-btn {
  border: 0px;
  height: 37px;
  width: 100px;
  background: white;
  color: red;
  font-family: "Roboto";
  font-weight: bold;
  border-radius: 5px;
}

ul {
  padding: 0px;
  margin: 10px 40px;
  list-style-type: none;
  width: 80%;

  display: flex;
}
li {
  background: white;
  padding: 8px;
  border-radius: 5px;
  font-family: "Bree serif";
  margin: 0px 20px;
  cursor: pointer;
}

@media (max-width: 785px) {
  li {
    font-size: 12px;
  }
}
